@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  @apply font-bold;
}

.hero-section {
  background-image: url('/hero-bg.jpg');
  background-size: cover;
  background-position: center;
}